IMAGEKIT_PRIVATE_KEY=<key here>
IMAGEKIT_PUBLIC_KEY=<key here>
IMAGEKIT_URL=<url here>

JWT_SECRET=<"type your secret key">


POSTGRES_USER=<user>
POSTGRES_PASSWORD=<password>
POSTGRES_DB=<dbname>

DATABASE_URL=postgresql+psycopg://user:password@db:5432/dbname


# while testing on local machine, use:
# DATABASE_URL=postgresql+psycopg://user:password@localhost:5432/dbname

RAZORPAY_KEY_ID=<put key here>
RAZORPAY_KEY_SECRET=<put secret here>